<a href="https://colab.research.google.com/github/ggkolekar/dataScience/blob/main/dataSciencePart4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import os
import numpy as np

In [5]:
os.chdir('/content/sample_data/')
a = pd.read_csv('iris.csv')
a.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

# 1. **Descriptive statistics of numerical columns**

In [6]:
#Summarize the numerical columns of dataset
a.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

# 2. **Conditional column**

In [8]:
#Create new column for bucketing the Sepal Length as High or Low
a['SepalLength_Size'] = np.where(a['sepal.length']>=5,'High','Low')
a.head()

,sepal.length,sepal.width,petal.length,petal.width,variety,SepalLength_Size
0,5.1,3.5,1.4,0.2,Setosa,High
1,4.9,3.0,1.4,0.2,Setosa,Low
2,4.7,3.2,1.3,0.2,Setosa,Low
3,4.6,3.1,1.5,0.2,Setosa,Low
4,5.0,3.6,1.4,0.2,Setosa,High

In [9]:
#Using list comprehension
a['SepalLength_Size'] = ['High' if x >= 5 else 'Low' for x in a['sepal.length'] ]
a.head()

,sepal.length,sepal.width,petal.length,petal.width,variety,SepalLength_Size
0,5.1,3.5,1.4,0.2,Setosa,High
1,4.9,3.0,1.4,0.2,Setosa,Low
2,4.7,3.2,1.3,0.2,Setosa,Low
3,4.6,3.1,1.5,0.2,Setosa,Low
4,5.0,3.6,1.4,0.2,Setosa,High

In [10]:
#Using assign function
def size(row_number):
    if row_number["sepal.length"] >=5:
        return 'High'
    else:
        return 'Low'

a = a.assign(SepalLength_Size=a.apply(size, axis=1))

a.head()

,sepal.length,sepal.width,petal.length,petal.width,variety,SepalLength_Size
0,5.1,3.5,1.4,0.2,Setosa,High
1,4.9,3.0,1.4,0.2,Setosa,Low
2,4.7,3.2,1.3,0.2,Setosa,Low
3,4.6,3.1,1.5,0.2,Setosa,Low
4,5.0,3.6,1.4,0.2,Setosa,High

In [11]:
#Using lambda function
a['SepalLength_Size'] = a['sepal.length'].map( lambda x: 'High' if x >= 5 else 'Low')
a.head()

,sepal.length,sepal.width,petal.length,petal.width,variety,SepalLength_Size
0,5.1,3.5,1.4,0.2,Setosa,High
1,4.9,3.0,1.4,0.2,Setosa,Low
2,4.7,3.2,1.3,0.2,Setosa,Low
3,4.6,3.1,1.5,0.2,Setosa,Low
4,5.0,3.6,1.4,0.2,Setosa,High

# 3. **Unique of a column**

In [13]:
a['variety'].unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

In [14]:
a['variety'].nunique()

3

# 4. **Cross tab function**

In [15]:
pd.crosstab(a['variety'],a['SepalLength_Size'])

SepalLength_Size  High  Low
variety
Setosa              30   20
Versicolor          49    1
Virginica           49    1

In [16]:
pd.crosstab(a['variety'],a['SepalLength_Size'],values=a['sepal.length'],aggfunc=np.mean)

SepalLength_Size      High   Low
variety
Setosa            5.230000  4.67
Versicolor        5.957143  4.90
Virginica         6.622449  4.90

# 5. **Sorting a column**

In [18]:
b = a.sort_values('sepal.length')
b.head()

,sepal.length,sepal.width,petal.length,petal.width,variety,SepalLength_Size
13,4.3,3.0,1.1,0.1,Setosa,Low
42,4.4,3.2,1.3,0.2,Setosa,Low
38,4.4,3.0,1.3,0.2,Setosa,Low
8,4.4,2.9,1.4,0.2,Setosa,Low
41,4.5,2.3,1.3,0.3,Setosa,Low

In [19]:
c = a.sort_values(['variety','sepal.length'],ascending=[True,False])
c.head()

,sepal.length,sepal.width,petal.length,petal.width,variety,SepalLength_Size
14,5.8,4.0,1.2,0.2,Setosa,High
15,5.7,4.4,1.5,0.4,Setosa,High
18,5.7,3.8,1.7,0.3,Setosa,High
33,5.5,4.2,1.4,0.2,Setosa,High
36,5.5,3.5,1.3,0.2,Setosa,High

# 6. **Column datatypes**

In [20]:
#check datatype of columns
a.dtypes

sepal.length        float64
sepal.width         float64
petal.length        float64
petal.width         float64
variety              object
SepalLength_Size     object
dtype: object

# 7. **Binning a column**

In [21]:
bins = [0, 1, 2, 3, 4, 5,6,7]
a['bins'] = pd.cut(a['sepal.length'], bins)
a.head()

,sepal.length,sepal.width,petal.length,petal.width,variety,SepalLength_Size,bins
0,5.1,3.5,1.4,0.2,Setosa,High,"(5, 6]"
1,4.9,3.0,1.4,0.2,Setosa,Low,"(4, 5]"
2,4.7,3.2,1.3,0.2,Setosa,Low,"(4, 5]"
3,4.6,3.1,1.5,0.2,Setosa,Low,"(4, 5]"
4,5.0,3.6,1.4,0.2,Setosa,High,"(4, 5]"

In [22]:
a['bins'].value_counts()

(5, 6]    57
(6, 7]    49
(4, 5]    32
(0, 1]     0
(1, 2]     0
(2, 3]     0
(3, 4]     0
Name: bins, dtype: int64