<a href="https://colab.research.google.com/github/ggkolekar/dataScience/blob/main/dataSciencePart3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

# 1. **Pandas Series**

In [2]:
name = ['Rohan','Joseph','Rohit']
name

1. Pandas Series

['Rohan', 'Joseph', 'Rohit']

In [3]:
name = pd.Series(name)
name

0     Rohan
1    Joseph
2     Rohit
dtype: object

In [4]:
sport = {'cricket' : 'India',
        'soccer' : 'UK',
        'Football' : 'USA'}
sport = pd.Series(sport)
sport

cricket     India
soccer         UK
Football      USA
dtype: object

# 2. **Querying a pandas series**

In [5]:
sport.iloc[2]

2. Querying a Pandas Series

'USA'

In [6]:
sport.loc['Football']

'USA'

In [7]:
a = pd.Series([1,2,3])
np.sum(a) #np sum function is a faster than the in-built function

6

In [9]:
a = pd.Series([1,2,3])
a.loc['City'] = 'Delhi'

In [10]:
b = pd.Series(['a','b','c','d'],index=['e','e','e','e'])
b

e    a
e    b
e    c
e    d
dtype: object

# 3. **Pandas dataframe**

In [11]:
df1 = pd.DataFrame([{'Name' : 'John', 'Occupation' :  'Data Scientist', 'Age' : 25},{'Name' : 'David', 'Occupation' :  'Analyst', 'Age' : 28},{'Name' : 'Mark', 'Occupation' :  'Teacher', 'Age' : 30}],index=['1','2','3'] )
df1

3. Pandas Dataframe

    Name      Occupation  Age
1   John  Data Scientist   25
2  David         Analyst   28
3   Mark         Teacher   30

In [13]:
s1 = pd.Series({'Name' : 'Rohan',
                   'Age':'25'})
s2 = pd.Series({'Name' : 'Rohit',
                'Age' : 28})
df1 = pd.DataFrame([s1,s2],index=['1','2'])
df1

    Name Age
1  Rohan  25
2  Rohit  28

# 4. **`Pandas reading and writing csv`**

In [16]:
iris = pd.read_csv('/content/sample_data/iris.csv')

In [17]:
pd.read_csv('/content/sample_data/iris.csv',header=0)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [18]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [19]:
iris.to_csv('/content/iris2.csv')

In [20]:
#View the column names
iris.columns

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

In [32]:
#rename a column
check = iris
d= check.rename(columns=({'variety':'Name'}))
d.head()

   sepal.length  sepal.width  petal.length  petal.width    Name
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [34]:
#View the column names
iris.columns

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

In [33]:
#save the csv file into your directory
d.to_csv('iris2.csv')

# 5. **Indexing Dataframes**

In [35]:
iris.index.values

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149])

In [37]:
b = d.set_index('Name')
b.head()

        sepal.length  sepal.width  petal.length  petal.width
Name
Setosa           5.1          3.5           1.4          0.2
Setosa           4.9          3.0           1.4          0.2
Setosa           4.7          3.2           1.3          0.2
Setosa           4.6          3.1           1.5          0.2
Setosa           5.0          3.6           1.4          0.2

In [38]:
#Go back to your originial index
c = b.reset_index()
c.head()

     Name  sepal.length  sepal.width  petal.length  petal.width
0  Setosa           5.1          3.5           1.4          0.2
1  Setosa           4.9          3.0           1.4          0.2
2  Setosa           4.7          3.2           1.3          0.2
3  Setosa           4.6          3.1           1.5          0.2
4  Setosa           5.0          3.6           1.4          0.2

# 6. **Merging dataframes**

In [40]:
import os
os.chdir('/content/sample_data')
df1 = pd.read_csv('iris.csv')

In [41]:
df1

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [42]:
df2 = pd.DataFrame([{'Name' : 'Setosa', 'Species' : 'Species 1'},
                  {'Name':'Versicolor','Species':'Species 2'},
                   {'Name':'Virginica','Species':'Species 3'}])
df2

         Name    Species
0      Setosa  Species 1
1  Versicolor  Species 2
2   Virginica  Species 3

In [43]:
#Merge the above two datasets
df3 = pd.merge(df1,df2,how='inner',left_on='variety',right_on='Name')
df3

,sepal.length,sepal.width,petal.length,petal.width,variety,Name,Species
0,5.1,3.5,1.4,0.2,Setosa,Setosa,Species 1
1,4.9,3.0,1.4,0.2,Setosa,Setosa,Species 1
2,4.7,3.2,1.3,0.2,Setosa,Setosa,Species 1
3,4.6,3.1,1.5,0.2,Setosa,Setosa,Species 1
4,5.0,3.6,1.4,0.2,Setosa,Setosa,Species 1
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Virginica,Virginica,Species 3
146,6.3,2.5,5.0,1.9,Virginica,Virginica,Species 3
147,6.5,3.0,5.2,2.0,Virginica,Virginica,Species 3
148,6.2,3.4,5.4,2.3,Virginica,Virginica,Species 3
149,5.9,3.0,5.1,1.8,Virginica,Virginica,Species 3

# 8. **Aggregate function**

In [44]:
df1.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [45]:
#Aggregate average of Sepal Length for each Species
df1.groupby('variety')['sepal.length'].mean()

variety
Setosa        5.006
Versicolor    5.936
Virginica     6.588
Name: sepal.length, dtype: float64

In [46]:
#Aggregate average of Sepal Length for each Species
df1.groupby('variety')['sepal.length','sepal.width','petal.length','petal.width'].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

            sepal.length  sepal.width  petal.length  petal.width
variety
Setosa             5.006        3.428         1.462        0.246
Versicolor         5.936        2.770         4.260        1.326
Virginica          6.588        2.974         5.552        2.026

In [47]:
#Let's average the SepalLength and sum up the SepalWidth
a = df1.groupby('variety').agg({'sepal.length':'mean','sepal.width':'sum'})
a

            sepal.length  sepal.width
variety
Setosa             5.006        171.4
Versicolor         5.936        138.5
Virginica          6.588        148.7

In [48]:
#Aggregate average of all the numerical columns for each Species
df1.groupby('variety')[['sepal.length','sepal.width','petal.length','petal.width']].mean()

            sepal.length  sepal.width  petal.length  petal.width
variety
Setosa             5.006        3.428         1.462        0.246
Versicolor         5.936        2.770         4.260        1.326
Virginica          6.588        2.974         5.552        2.026

In [49]:
#Let's average the SepalLength and sum up the SepalWidth
a = df1.groupby('variety').agg({'sepal.length':'mean','sepal.width':'sum'})
a

            sepal.length  sepal.width
variety
Setosa             5.006        171.4
Versicolor         5.936        138.5
Virginica          6.588        148.7

In [50]:
#Let's rename columns for sanity
a.rename(columns={'sepal.length':'Avg_sepal.length','sepal.width':'Sum_sepal.width'})

            Avg_sepal.length  Sum_sepal.width
variety
Setosa                 5.006            171.4
Versicolor             5.936            138.5
Virginica              6.588            148.7

# 9. **Subsetting dataframes**

In [52]:
#Subset data in pandas based on condition

sd=iris.rename(columns=({'variety':'Name','sepal.length':'SepalLength','sepal.width':'SepalWidth','petal.length':'PetalLength','petal.width':'PetalWidth'}))
sd.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth    Name
0          5.1         3.5          1.4         0.2  Setosa
1          4.9         3.0          1.4         0.2  Setosa
2          4.7         3.2          1.3         0.2  Setosa
3          4.6         3.1          1.5         0.2  Setosa
4          5.0         3.6          1.4         0.2  Setosa

In [54]:
#Subset data in pandas based on two conditions
b = sd[(sd.SepalLength>5) & (sd.SepalLength>6)]
b.head()

    SepalLength  SepalWidth  PetalLength  PetalWidth        Name
50          7.0         3.2          4.7         1.4  Versicolor
51          6.4         3.2          4.5         1.5  Versicolor
52          6.9         3.1          4.9         1.5  Versicolor
54          6.5         2.8          4.6         1.5  Versicolor
56          6.3         3.3          4.7         1.6  Versicolor

In [56]:
#Subset only for one Species
c = sd[sd['Name']=='Versicolor']
c.head()

    SepalLength  SepalWidth  PetalLength  PetalWidth        Name
50          7.0         3.2          4.7         1.4  Versicolor
51          6.4         3.2          4.5         1.5  Versicolor
52          6.9         3.1          4.9         1.5  Versicolor
53          5.5         2.3          4.0         1.3  Versicolor
54          6.5         2.8          4.6         1.5  Versicolor

In [57]:
#Subset for two species
d=sd[sd['Name'].isin(['Virginica','Versicolor'])]
d.head()

    SepalLength  SepalWidth  PetalLength  PetalWidth        Name
50          7.0         3.2          4.7         1.4  Versicolor
51          6.4         3.2          4.5         1.5  Versicolor
52          6.9         3.1          4.9         1.5  Versicolor
53          5.5         2.3          4.0         1.3  Versicolor
54          6.5         2.8          4.6         1.5  Versicolor

# 10. **Date functionality**

In [213]:
import pandas as pd
import numpy as np

In [214]:
pd.Timestamp('8/2/2018 9:12PM')

Timestamp('2018-08-02 21:12:00')